@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);

body {
    font-size: 15pt;
    margin: 0px;
    padding: 0px;
}

h1 {
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Playfair Display SC', serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 48px;
  color: red;
  text-align: center;
}

.container {
margin-top: 50px;
margin-left: auto;
margin-right: auto;
display: block;
text-align: center;
width: 800px;
padding-top: 15px;
padding-bottom: 15px;

}

.shevron{
  margin-left: 25px;
  margin-right: 25px;
}

.arrow-up {
  rotate: 270deg;
  margin: 25px 25px 15px;
  &:hover {
    scale: 0.9
}
}

.arrow-on {
  rotate: 270deg;
  margin-bottom: 15px;
  &:hover {
    scale: 0.9
}
}


.arrow-doun {
  rotate: 90deg;
  margin: 25px 25px 15px;
  &:hover {
    scale: 0.9
}
}

.arrow-left {
  rotate: 180deg;
  &:hover {
    scale: 0.9
}
}

.arrow-right {
  rotate: 0deg;
  &:hover {
    scale: 0.9
}
}

.on {
  display: flex;
  justify-content: center;
  align-items: end;
}


.of {
  display: flex;
  justify-content: center;
  align-items: start;
}