@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);

body {
    margin: 0px;
    padding: 0px;
}

h1 {
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Playfair Display SC', serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 48px;
  text-align: center;
}

.container {
margin-top: 50px;
width: 600px;
margin-left: auto;
margin-right: auto;

}

.up {
  display: flex;
  justify-content: center;
  align-items: end;
}


.center {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 30px;
  margin-bottom: 30px;
}


.down {
  display: flex;
  justify-content: center;
  align-items: start;
}